<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Lesson</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/all.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.css')}}">
</head>
<body>
    <h1>Iris Classification</h1>
    <div class="container">
        <form action="{{url_for('predict')}}", method='POST'>
          
            <label for="">Parameter 1</label><br>
            <input type="text" name="p1"><br><br>
            <label for="">Parameter 2</label><br>
            <input type="text" name="p2"><br><br>
            <label for="">Parameter 3</label><br>
            <input type="text" name="p3"><br><br>
            <label for="">Parameter 4</label><br>
            <input type="text" name="p4"><br><br>
           
            <button type="sumit" class="btn btn-info" name="predict" value="predict">Predict</button>
          
        </form>
       <h1>Type :{{pred}}</h1> 
    </div>
    <script src="{{url_for('static',filename='js/all.js')}}"></script>
    <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
</body>
</html>